/**
 TODO(you): Write the CSS necessary to complete HW1!
*/
body {
  margin: 0;
}

#header {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/header.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-p {
  margin: 0;
  text-align: center;
  max-width: 780px;
  color: white;
  font-family: 'Roboto Slab',serif;
  font-size: 36px;
  font-weight: normal;
}

#profile {
  width: 200px;
  text-align: center;
  position: relative;
  top: -50px;
  margin: auto;
}

#profile-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: white 1px thick;
}

#proflie-p {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: rgb(51, 51, 51);
  line-height: 24px;
  border-bottom-color: #e6e6e6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 10px;
}

#sp1 {
  font-weight: bold;
}

#sp2 {
  font-style: italic;
}

#main {
  margin-top: 10px;
  width: 100%;
}

.text {
  display: flex;
  justify-content: center;
}

.number {
  margin-right: 40px;
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.25);
}

.body-text {
  width: 66.67%;
}

.heading {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.address {
  color: #42b4d6;
  text-decoration: none;
}

.address:hover {
  text-decoration: underline;
}

.paragraphs {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: rgb(51, 51, 51);
  margin-top: 20px;
  margin-bottom: 20px;
}

.recommendation {
  font-weight: bold;
  margin-bottom: 20px;
}

.images {
  width: 100%;
  margin-bottom: 120px;
}